
  <h2>Member form: Add member Here! {{members}}</h2>
  <form class="form-horizontal">
    <div class="form-group">

      <div class="col-sm-12">
        <input class="addform-control" id="focusedInput" type="text" value="" placeholder="FULL NAME">
      </div>
    </div>
    <div class="form-group">

      <div class="col-sm-12">
        <select class="addform-control" type="text" placeholder="Select Member Package" >
          <option>Select Member package</option>
        </select>
      </div>
    </div>

      <div class="form-group">

        <div class="col-sm-12">
          <input type="text" id="disabledTextInput" class="addform-control" placeholder=" Enter partner name">
        </div>
      </div>


    <div class="form-group has-success ">

      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="Enter First child name">

      </div>
    </div>
    <div class="form-group  ">
      <div class="col-sm-12">
      <input type="text" class="addform-control" placeholder="Enter the seacond child name" >
      </div>
    </div>
    <div class="form-group ">
      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="Contribution Amount">
      </div>
    </div>
    <div class="form-group ">

      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="Finacial Service Account ">

      </div>
    </div>
    <div class="form-group">

      <div class="col-sm-12">
        <select class="addform-control" type="text" placeholder="Select Member Package" >
          <option>Select Member community</option>
        </select>
      </div>
    </div>
    <div class="form-group ">

      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="Email">

      </div>
    </div>
    <div class="form-group ">

      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="Phone">

      </div>
    </div>
    <div class="form-group ">

      <div class="col-sm-12">
        <input type="text" class="addform-control" placeholder="status" >

      </div>
    </div>
    <div class="form-group ">
      <div class="col-sm-12">
        <select type="text" class="addform-control" >
<option value="">Select Gender Type</option>
<option value="Male">Male</option>
<option value="Femail">Female</option>
        </select>
      </div>
    </div>
    <div class="form-group">
             <div class='input-group date'>
                 <input type='text' class="form-control" />
                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                 </span>
             </div>
         </div>
    </div>
    <div class="form-group">

      <div class="col-sm-12">
        <select class="addform-control" type="text"  >
          <option value="">Nationality</option>
        </select>
      </div>
    </div>

    <div class="form-group ">

      <div class="col-sm-12">
        <input type="file" class="addform-control" placeholder="Select member photo">

      </div>
    </div>


  </form>
