<form name="form" ng-submit="submitForm()">
  <div class="form-group" ng-class="{ 'has-error' : form.fullname.$invalid && !form.fullname.$pristine }">
      <label>Name</label>
      <input type="text" name="fullname" class="form-control" ng-model="member.fullname" required>
      <p ng-show="form.fullname.$invalid && !form.fullname.$pristine" class="help-block">You name is required.</p>
  </div>
    <div class="form-group " ng-class="{ 'has-sucess' : form.package.$sucess && !form.package.$touched }">
     <label class="control-label " for="package">
      Select member package
     </label>
     <select ng-model="member.package"class="select form-control"  name="package" required>
       <<option value="">Select package here</option>
      <option value="Single">
       Single
      </option>
      <option value="Youth">
       Youth
      </option>
      <option value="Couple">
       Couple
      </option>
      <option value="Family">
       Family
      </option>
      <option value="Family+">
       Family+
      </option>
     </select>

    </div>
    <div class="form-group " ng-show="showthisfield(member.package)">
     <label class="control-label " for="partner">
      Partner Name
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-user-plus">
       </i>
      </div>
      <input ng-model="member.partner" class="form-control"  name="partner" placeholder="Enter Partner Name" type="text"/>
     </div>
    </div>
    <div class="form-group " ng-show="showthisfieldchild(member.package)">
     <label class="control-label " for="child1">
      Child Name
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-child">
       </i>
      </div>
      <input class="form-control" ng-model="member.child1" name="child1" placeholder="first child" type="text"/>
     </div>
    </div>
    <div class="form-group " ng-show="showthisfieldchild2(member.package)">
     <label class="control-label " for="child2">
      Child Name
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-child">
       </i>
      </div>
      <input ng-model="member.child2" class="form-control"  name="child2" placeholder="second child" type="text"/>
     </div>
    </div>
    <div class="form-group " ng-class="{ 'has-error' : form.accountnumber.$invalid && !form.accountnumber.$pristine }">
     <label class="control-label " for="accountnumber">
      Account Number
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-university">
       </i>
      </div>
      <input ng-model="member.accountnumber" class="form-control"  name="accountnumber" placeholder="Account Number" type="number" ng-minlength="4" ng-maxlength="6" required/>
     </div>
    </div>
    <div class="form-group " >
     <label class="control-label " for="contribution">
      Contribution
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-money">
       </i>
      </div>
      <input ng-model="member.contribution" ng-hide="member.package" ng-init="member.contribution='400'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
      <input ng-model="member.contribution" ng-if="member.package == 'Youth'"ng-init="member.contribution='200'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
      <input ng-model="member.contribution" ng-if="member.package == 'Single'"ng-init="member.contribution='400'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
      <input ng-model="member.contribution" ng-if="member.package == 'Couple'"ng-init="member.contribution='600'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
      <input ng-model="member.contribution" ng-if="member.package == 'Family'"ng-init="member.contribution='1000'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
      <input ng-model="member.contribution" ng-if="member.package == 'Family+'"ng-init="member.contribution='1200'" class="form-control"  name="contribution" placeholder="minimum 200" type="text" ng-minlength="3" ng-maxlength="4" required/>
     </div>
    </div>
    <div class="form-group ">
     <label class="control-label " for="community">
      Community
     </label>
     <select  class="form-control" ng-model="member.community" name="community" required >

         <option ng-repeat="com in community track by $index"  value="{{com.name}}">{{com.name}}</option>
       </select>
         <span ng-show="form.community.$error.required" class="label label-danger">Select service</span>
    </div>
    <div class="form-group ">
     <label class="control-label " >
      Status
     </label>
     <select  class="form-control" ng-model="member.status"  name="status" required>

              <option value="Aurovillen" >Aurovillien</option>
                   <option value="Newcomer">Newcomer</option>


       </select>
            <span ng-show="form.status.$error.required" class="label label-danger">Select Status</span>
    </div>
    <!-- <div class="form-group ">
     <label class="control-label requiredField" for="email">
      Email
      <span class="asteriskField">
       *
      </span>
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa ">
       </i>
      </div>
      <input ng-model="member.email" class="form-control" id="email" name="email" type="text"/>
     </div>
    </div> -->
    <div class="form-group ">
     <label class="control-label " for="gender">
  Gender
     </label>
     <select ng-model="member.gender" class="select form-control"  name="gender">
      <option value="Male">
      Male
      </option>
      <option value="Female">
    Female
      </option>

     </select>
    </div>
    <div class="form-group ">
     <label class="control-label " for="tel">
      Telephone #
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-phone">
       </i>
      </div>
      <input ng-model="member.phone"class="form-control" id="tel" name="tel" type="text"/>
     </div>
    </div>
    <div class="form-group ">
     <label class="control-label " for="birthday">
      Date of birth
     </label>
     <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-birthday-cake">
       </i>
      </div>
  <input class="form-control" type="text" ng-model="member.birthday" date-options="dateOptions" ui-date/>
     </div>
    </div>
    <div class="form-group ">
     <label class="control-label " for="nationality">
      Nationality
     </label>
     <select  class="form-control" ng-model="member.nationality" name="nationality" required>

         <option >Select Folder</option>
         <option ng-repeat="nation in country track by $index"  value="{{nation.name}}">{{nation.name}}</option>
       </select>
            <span ng-show="form.nationality.$error.required" class="label label-danger">Select Nationality</span>
    </div>
    <div class="form-group ">
     <label class="control-label " for="url">
    Photo
     </label>
 <input type="file" photo-file="member.photo_url"  onchange="angular.element(this).scope().previewPhoto(event)"/>
    </div>
    <div class="">
      <img ng-src="{{photo}}" class="img-rounded"  width="150" height="150" style="margin-bottom:20px">

    </div>
    <div class="form-group">
     <div>
      <button class="btn btn-primary " name="submit" type="submit">
       Submit
      </button>
     </div>
    </div>
   </form>
